name: ci.yml
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MYSQL_URL: ${{secrets.MYSQL_URL}}
      MYSQL_ID: ${{secrets.MYSQL_ID}}
      MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD}}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Gradle clean and test
        run: ./gradlew clean test