name: ci.yml
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_DATABASE: lotto_db
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306


    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Gradle clean and test
        env:
          SPRING_DATASOURCE_URL: ${{secrets.MYSQL_URL}}
          SPRING_DATASOURCE_USERNAME: root
          SPRING_DATASOURCE_password: root
          SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
          SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
        run: ./gradlew clean test